.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.loader__elem {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(lightgray, transparent);
  animation: rotating 1s linear infinite;
}

.loader__elem::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  background: white;
}

@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
