.table {
  width: 100%;
  height: 768px;
  text-align: center;
  border-spacing: 0px;
  border-radius: 24px;
  overflow: hidden;
  color: #1e1d1d;
}
.table__mobile {
  display: none;
}
@media screen and (max-width: 900px) {
  .table {
    display: none;
  }
  .table__mobile {
    display: block;
  }
}
/* Настройка скролинга */
.content,
.header {
  display: block;
}

.content {
  height: 100%;
  overflow-y: auto;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
  overflow-x: auto;
}

.content .content__data,
.header .header__data {
  width: 8%;
}
.content::-webkit-scrollbar {
  /* width: 0; */
}
/*  */
.header__row {
  height: 88px;
}
.header__data {
  background-color: #cddcec;
  padding: 20px 4px 20px 0px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  max-width: 125px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  @media screen and (max-width: 390px) {
    padding: 12px;
    white-space: nowrap;
  }
}
.header__data:first-child {
  padding-left: 20px;
}
.header__data:last-child {
  padding-right: 20px;
}
.content__row {
  height: 48px;
  background-color: #ffffff;
  transition: 0.3s;
}
.content__row:hover {
  background-color: #f2f1fe;
}
.content__data {
  padding: 12px 4px 12px 0px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 125px;
  min-width: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  @media screen and (max-width: 390px) {
    padding: 12px;
  }
}
.content__data:first-child {
  padding-left: 20px;
}
.content__data:last-child {
  padding-right: 20px;
}
